.login{
    width: 300px;
    height: 320px;
    margin: 100px 0 0 40%;
    border: 1px solid lightgray;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.inputBox{
    width: 97%;
    margin: auto;
    height: 60px;
    border-radius: 5px;
    padding: 8px;
    outline: none;
    

}
.loginButton{
    width: 300px;
    margin-bottom: 1px;
}
.forgotButton{
    height: 50px;
    width: 300px;
    margin-top: 1px;
}